[Desktop Entry]
Type=Application
Name=railreader2
Comment=AI-guided rail reading PDF viewer
Exec=RailReader2 %f
Icon=railreader2
Categories=Office;Viewer;
MimeType=application/pdf;
Terminal=false
